.login-page {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/images/bg.jpg") !important;
    background-size: cover !important;

    .login-header {
        display: flex;
        align-items: center;

        img {
            height: 40px;
            width: 40px;
            margin-right: 30px;
        }

        h2 {
            color: #fff;
            font-size: 24px;
            margin-bottom: 0;
        }
    }
}